<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884800813280-f2ivsbspfgstq502mttvcd5ui80tu98i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884800813280-f2ivsbspfgstq502mttvcd5ui80tu98i</string>
	<key>API_KEY</key>
	<string>AIzaSyBh3I8GdvilGvU8fe-867dLdCOqcY_QIUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>884800813280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>news-studio-2a94d</string>
	<key>STORAGE_BUCKET</key>
	<string>news-studio-2a94d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884800813280:ios:e855abd3cc0177f2ebb885</string>
</dict>
</plist>